.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h2 {
    /* color: #d5bdaf; */
    margin-bottom: 20px;
}

.container p {
    /* color: #b79492; */
    margin-bottom: 10px;
}

.container button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container button.btn-primary {
    /* background-color: #d5bdaf; */
    /* color: #b79492; */
}

.container button.btn-danger {
    /* background-color: #b79492; */
    /* color: #d5bdaf; */
}

.container button.btn-info {
    background-color: #c4a69d;
    /* color: #b79492; */
}

.container button.btn-warning {
    background-color: #b79492;
    /* color: #c4a69d; */
}