.store-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner {
    background-color: #d5bdaf;
    color: #b79492;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}