.justify-content-md-center {
    margin-top: 20px;
    text-align: center;
    background-color: #d5bdaf;

}
.justify-content-md-center {
    margin-top: 20px;
    text-align: center;
    background-color: #d5bdaf;
}


.justify-content-md-center h1 {
    color: #b79492; 

    


}

.justify-content-md-center p {
    color: #b79492;
    margin-bottom: 10px;
}