body {
    background-color: #c4a69d;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #d5bdaf;
    padding: 10px;

}


.navItems {
    text-decoration: none;
    color: #b79492; 
    font-size: 15px;
    padding: 10px 20px;    
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #b79492;
    margin-left: auto;
}
